html, body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e1c699;
}

/* Style the header with a grey background and some padding */
.header {
    display: flex;
    justify-content: space-around;
}

/* Style the header links */
.header a {
    flex-grow: 1;
    color: black;
    padding: 1%;
    margin: 1px;
    border: 1.5px solid black;
    text-decoration: none;
    border-radius: 4px;
    font-size: large;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #bcc3b5;
    color: black;
}

.header a.active {
    background-color: #78866b;
}

#header_info {
    margin-top: 1%;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 1.5%;
    font-size: large;
}

#header_title {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

.radio_holder {
    padding-bottom: 1%;
    align-items: center;
}

.f_r_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.immagini_c {
    width: 49%;
}

.info_c {
    border: 1.5px solid black;
    width: 49%;
    display: flex;
    align-items: center;
}

.info_r_f {
    font-size: large;
}

.bold {
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.double {
    text-decoration-style: double;
}

.f_desc, .r_desc{
    display: flex;
    margin: 2%;
    flex-direction: column;
}

.c_holder, img, .info_r_f{
    display: none;
    width: 100%;
}

.visible {
    display: initial;
}

#c044f, #c102f {
    width: 50%;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
}
