@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Hind+Siliguri&display=swap');

/* Body flex con testo centrato */
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e1c699;
    font-family: "Hind Siliguri", sans-serif;
}

/* Navbar sticky con sfondo opaco */
.header {
    display: flex;
    justify-content: space-around;
    background-color: #e1c699;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Bottoni navbar */
.header a {
    flex-grow: 1;
    color: black;
    padding: 1%;
    margin: 1px;
    border: 1.5px solid black;
    text-decoration: none;
    border-radius: 4px;
    font-size: large;
}

.header a:hover {
    background-color: #c4b193;
    color: black;
    cursor: pointer;
}

.header a.active {
    background-color: #78866b;
}

/* Header con spiegazione del progetto */
#header_info {
    margin-top: 0.5%;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 1.5%;
    font-size: large;
}

#header_title {
    font-size: xx-large;
    font-family: serif;
}

/* Titolo cartolina */
h3 {
    font-size: x-large;
    font-family: "Crimson Text", serif;
}

/* Bottoni fronte-retro */
.radio_holder {
    padding-bottom: 1%;
    align-items: center;
}

/* Div con cartolina e testo a fianco */
.f_r_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Div immagine cartolina */
.immagini_c {
    width: 47%;
}

/* Div descrizione cartolina */
.info_c {
    border-left: 1.5px solid black;
    width: 47%;
    display: flex;
    align-items: center;
}

.info_r_f {
    font-size: large;
}

.f_desc, .r_desc {
    display: flex;
    margin: 3% 3% 3% 5%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.stamp {
    color: #800000;
}

.stamp:hover {
    cursor: pointer;
    color: black;
}

canvas {
    display: none;
}

.c_holder, img, .info_r_f {
    display: none;
    width: 100%;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    padding-top: 1.5%;
    margin-top: 1.5%;
    border-top: 1.5px solid black;
}

.footer_text {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edizione {
    width: 50%;
}

.pubblicazione {
    width: 50%;
}

/* Proprietà generali */
.visible {
    display: initial;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.double {
    text-decoration-style: double;
}

/* Le immagini in verticale sono mostrate più strette del 50% */
#c044f, #c102f {
    width: 50%;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {

    .f_r_holder, .header {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .immagini_c, .info_c {
        width: 100%;
    }
}
